/* Navbar making  */
.navbar {
  width: 100%;
  height: 75px;
  background-color: #ff0000;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: #fff;

  position: fixed;
  top: 0;
  z-index: 20;
}

.nav--icon {
  font-size: 50px;
}

.nav--logo {
  font-size: 30px;
  font-weight: 600;

}


/* Main content  */
.main {

  width: 70%;
  margin-inline: auto;
  margin-top: 75px;
}


/* Card content  */
.card {
  width: 100%;
  height: 50vh;
  padding: 40px 30px;


  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}

.card--image-container {
  height: 100%;
  overflow: hidden;
  width: 20%;
  border-radius: 15px;
  flex-shrink: 0;

}

.card--image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card--details {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 10px 20px;



}

.card--location {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card--location-symbol {
  font-size: 1.2rem;
  color: #1e1e1e;

}

.card--location-name {
  font-size: 0.9rem;
  font-weight: 400;
  text-transform: uppercase;
}

.card--location-view {
  color: #C5C5C5;
  font-size: 1.2rem;
  text-transform: capitalize;
}

.card--title {
  height: 100px;
  font-size: 3vmax;
  display: flex;
  align-items: center;

}

.card--journey-dates {
  font-weight: 700;
}

.card--journey-desc {
  font-size: 1.1  rem;
  width: 90%;
}




/* This project is responsive also */



/* Tablet media query */


@media (max-width: 900px) {
  .main {
    width: 90vw;
  }

  .card {
    /* height: fit-content; */
    height: 35vh;
  }

  .card--image-container {
    width: 30%;

  }

  .card--details {
    width: 100%;
    padding: 0px 10px;
  }

  .card--location-name{
    flex-grow: 1;
    font-size: 0.8rem;    
  }

  .card--location {
    width: 100%;
  }
  .card--location-view{
    font-size: 0.9rem;
  }
  .card--title{
    height: fit-content;
    font-size: 3vmax;
  }

  .card--journey-desc {
    width: 100%;
    text-align: justify;
    font-size: 0.9rem;
  }

}

/* Mobile media query  */
@media (max-width: 530px) {

  .nav--icon {
    font-size: 4vmax;
  }

  .nav--logo {
    font-size: 3vmax;
  }

  .main {
    width: 100vw;
  }

  .card {
    width: 100%;
    height: fit-content;
    flex-direction: column;
  }

  .card--image-container {
    width: 100%;
    height: 40vh;
  }

  .card--details {
    width: 100%;
    padding: 0px 10px;
  }

  .card--location-name{
    flex-grow: 1;
  }

  .card--location {
    width: 100%;
    flex-wrap: wrap;
  }
  .card--title{
    height: fit-content;
    margin: 20px 0px;
    font-size: 6vmax;
  }

  .card--journey-desc {
    width: 100%;
    text-align: justify;
  }


}

.footer{
  width: 100%;
    height: 75px;
    background-color: #ff0000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: #fff;
    bottom: 0;
    z-index: 20;

}